.pokemon-list {
    background-color: white;
    color: rgb(230, 21, 21);
    margin: 4px 2px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid purple;
}

.button-class {
background-color: beige;
width: 100px;
}

h1 {
    color: rgb(255, 0, 0);
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

@media (min-width: 320px) and (max-width: 480px) {
}